<a href="https://colab.research.google.com/github/Tamerly/Data_analisys_learning/blob/main/clients_analisys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Импортируйте библиотеку pandas как pd. Загрузите два датасета user_data и logs. Проверьте размер таблицы, типы переменных, наличие пропущенных значений, описательную статистику.

In [2]:
user_data = pd.read_csv('https://stepik.org/media/attachments/lesson/360348/user_data.csv')
user_data

      client  premium  age
0      46346    False   58
1       4391    False   55
2      27372    False   64
3      11989    False   44
4      60664    False   49
...      ...      ...  ...
2949   19411    False   29
2950   61579    False   50
2951   61221     True   64
2952   29863    False   46
2953   78499    False   36

[2954 rows x 3 columns]

In [9]:
user_data.shape

(2954, 3)

In [10]:
user_data.describe()

             client          age
count   2954.000000  2954.000000
mean   50767.886594    44.196005
std    28800.505847    14.248336
min       40.000000    20.000000
25%    25639.500000    32.000000
50%    51569.500000    44.000000
75%    75963.250000    56.000000
max    99973.000000    69.000000

In [12]:
user_data.isnull().sum()

client     0
premium    0
age        0
dtype: int64

In [18]:
logs = pd.read_csv('https://stepik.org/media/attachments/lesson/360348/logs.csv')

In [19]:
logs.head()

   client  success  platform        time
0   40177     True     phone  1585412212
1   61468     True     phone  1585425658
2   35604    False     phone  1585459894
3    9961     True     phone  1585400189
4   10931     True  computer  1585468629

In [13]:
logs.isnull().sum()

client      0
success     0
platform    0
time        0
dtype: int64

In [14]:
logs.shape

(4500, 4)

In [23]:
logs.platform.value_counts()

phone       2753
computer    1505
tablet       242
Name: platform, dtype: int64

In [16]:
logs.describe()

             client          time
count   4500.000000  4.500000e+03
mean   50998.758000  1.585440e+09
std    28374.472495  2.314866e+04
min       40.000000  1.585400e+09
25%    27056.500000  1.585420e+09
50%    52659.000000  1.585440e+09
75%    76001.250000  1.585461e+09
max    99993.000000  1.585480e+09

Какой клиент совершил больше всего успешных операций?

In [34]:
# получение серии с наибольшим количеством успешных операций на клиента
success_numbers = logs \
    .query('success == True') \
    .groupby('client', as_index=False) \
    .agg({'success': 'count'}) \
    .sort_values('success', ascending=False) \
    .head(12)

In [35]:
# записываем в переменную наибольшее число
maximum_success = success_numbers.success.max()
maximum_success

41

In [36]:
# получение серии с клиентами, у которых максимальное количество успешных операций
success_numbers.query("success == @maximum_success")

      client  success
332    12179       41
1758   61468       41
1487   52870       41
1759   61473       41
2626   92584       41
2345   82563       41
2231   78349       41
1020   36165       41
810    28719       41

In [44]:
# получаем список этих клиентов
nyaaaa = success_numbers \
    .query("success == @maximum_success") \
    .sort_values('client') \
    .client \
    .tolist()
nyaaaa

[12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584]