<a href="https://colab.research.google.com/github/Tamerly/Data_analisys_learning/blob/main/Project_lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Анализ лояльности пользователей

In [1]:
!gdown 1g7gu1ahf8Oy0Qr9dQRmmIGYqIzSAKTe7

Downloading...
From: https://drive.google.com/uc?id=1g7gu1ahf8Oy0Qr9dQRmmIGYqIzSAKTe7
To: /content/lesson_3_data__1_.csv
100% 12.3M/12.3M [00:00<00:00, 94.8MB/s]

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/lesson_3_data__1_.csv', encoding='windows-1251')

In [5]:
df.head(5)

,Unnamed: 0,tk,pl,dia,hs,tc,cta,id_art,id_subsubfam,id_subfam,...,id_famn,id_seccion,id_subagr,id_agr,vta,uni,id_artn,art_sp,fam_sp,fam_en
0,1242,120071109002055793,1,2007/11/09,0.505729,110000761,11000076,21895,101070640100,1010706401,...,10107064,10107,101,1,0.68,1.0,21895,MARAVILLA 500 G Store_Brand,PASTA ALIMENTICIA SE,pasta
1,1243,120070601004053633,1,2007/06/01,0.588519,110000761,11000076,21816,101070640100,1010706401,...,10107064,10107,101,1,0.38,1.0,21816,FIDEO CABELLIN 500 G Store_Brand,PASTA ALIMENTICIA SE,pasta
2,1244,120070928004076410,1,2007/09/28,0.785498,28491841,2849184,562840,101070640100,1010706401,...,10107064,10107,101,1,1.55,2.0,562840,SPAGUETTI Nє 5 500 G Brand_1,PASTA ALIMENTICIA SE,pasta
3,1245,120070616003074261,1,2007/06/16,0.550961,95931501,9593150,28914,101070640100,1010706401,...,10107064,10107,101,1,1.03,2.0,28914,FIDEO FIDEUБ 500 Brand_7,PASTA ALIMENTICIA SE,pasta
4,1246,120070519001018477,1,2007/05/19,0.804954,93265591,9326559,159867,101070640100,1010706401,...,10107064,10107,101,1,1.09,1.0,159867,MACARRONES GRATINAR 5 Brand_2,PASTA ALIMENTICIA SE,pasta



*   tc - user id
*   art_sp - brand name

In [6]:
user_df = df[['tc', 'art_sp']]
user_df

               tc                              art_sp
0       110000761  MARAVILLA        500 G Store_Brand
1       110000761  FIDEO CABELLIN   500 G Store_Brand
2        28491841        SPAGUETTI Nє 5 500 G Brand_1
3        95931501       FIDEO FIDEUБ      500 Brand_7
4        93265591      MACARRONES  GRATINAR 5 Brand_2
...           ...                                 ...
48124    45518841      FIDEOS 0         500 G Brand_4
48125   110824211      PLUMAS 3         500 G Brand_4
48126  1408670389  MACARRONES       500 G Store_Brand
48127  1408670389  SPAGHETTI        500 G Store_Brand
48128    48582221  SPAGHETTINI      500 G Store_Brand

[48129 rows x 2 columns]

In [9]:
user_df = user_df.rename(columns={
    'tc': 'user_id',
    'art_sp': 'brand_info'
})

In [10]:
user_df.head()

     user_id                          brand_info
0  110000761  MARAVILLA        500 G Store_Brand
1  110000761  FIDEO CABELLIN   500 G Store_Brand
2   28491841        SPAGUETTI Nє 5 500 G Brand_1
3   95931501       FIDEO FIDEUБ      500 Brand_7
4   93265591      MACARRONES  GRATINAR 5 Brand_2

Задача, получить общее название бренда из колонки brand_info

In [11]:
def split_brand_info(brand_column):
    return brand_column.split(' ')[-1]

In [14]:
user_df['brand_name'] = user_df.brand_info.apply(split_brand_info)
# user_df['brand_name'] = user_df.brand_info.apply(lambda x: x.split(' ')[-1])

In [15]:
user_df.head()

     user_id                          brand_info   brand_name
0  110000761  MARAVILLA        500 G Store_Brand  Store_Brand
1  110000761  FIDEO CABELLIN   500 G Store_Brand  Store_Brand
2   28491841        SPAGUETTI Nє 5 500 G Brand_1      Brand_1
3   95931501       FIDEO FIDEUБ      500 Brand_7      Brand_7
4   93265591      MACARRONES  GRATINAR 5 Brand_2      Brand_2

### Разведывательный анализ данных

Собираем данные по покупкам пользователей

In [24]:
user_purchases = user_df.groupby('user_id', as_index=False) \
    .agg({'brand_name': 'count'}) \
    .rename(columns={'brand_name':'purchases'})

In [18]:
user_purchases.head()

      user_id  purchases
0 -1236394515          1
1        1031          6
2        4241          5
3       17311          2
4       17312          2

In [20]:
# количество уникальных пользователей
user_purchases.shape

(11764, 2)

In [25]:
# получаем медианные значения по покупкам
user_purchases.describe()

            user_id     purchases
count  1.176400e+04  11764.000000
mean   7.690517e+07      4.091210
std    1.622210e+08      4.573143
min   -1.236395e+09      1.000000
25%    1.503761e+07      1.000000
50%    4.682179e+07      2.000000
75%    9.311601e+07      5.000000
max    1.408849e+09     60.000000

In [26]:
user_purchases = user_purchases.query('purchases >= 5')

In [27]:
user_purchases.describe()

            user_id    purchases
count  3.383000e+03  3383.000000
mean   6.421500e+07     9.320130
std    1.504830e+08     5.623993
min    1.031000e+03     5.000000
25%    8.871271e+06     6.000000
50%    2.842547e+07     7.000000
75%    8.542964e+07    11.000000
max    1.408810e+09    60.000000

Поиск любимого бренда

In [32]:
user_df.groupby(['user_id', 'brand_name'], as_index=False) \
    .agg({'brand_info': 'count'}) \
    .sort_values(['user_id', 'brand_info'], ascending=[False, False])

          user_id   brand_name  brand_info
18187  1408849249  Store_Brand           1
18186  1408840919  Store_Brand           1
18185  1408832719      Brand_4           3
18184  1408825059      Brand_1           1
18183  1408817589  Store_Brand           2
...           ...          ...         ...
3            4241      Brand_4           3
4            4241  Store_Brand           2
2            1031  Store_Brand           5
1            1031      Brand_3           1
0     -1236394515      Brand_4           1

[18188 rows x 3 columns]

In [35]:
"""
в результате выше получился датафрейм с отсортированными значениями
покупок для каждого пользователя по брендам.
На первой строке для каждого пользователя располагается 'любимый бренд' -
бренд, товары которого пользователь совершил больше всего.
Чтобы получить только 'любимый' бренд, необходимо сгруппировать значения еще раз
"""
lovely_brand_purchases_df = user_df.groupby(['user_id', 'brand_name'], as_index=False) \
    .agg({'brand_info': 'count'}) \
    .sort_values(['user_id', 'brand_info'], ascending=[False, False]) \
    .groupby('user_id') \
    .head(1) \
    .rename(columns={'brand_name': 'lovely_brand', 'brand_info': 'lovely_brand_purchases'})

In [36]:
"""
чтобы объединить датафреймы lovely_brand_purchases_df и user_purchases
нужен датафрейм с подсчетом количества уникальных брендов для каждого пользователя
"""
users_unique_brands = user_df.groupby('user_id', as_index=False) \
    .agg({'brand_name': pd.Series.nunique}) \
    .rename(columns={'brand_name': 'unique_brands'})
users_unique_brands

          user_id  unique_brands
0     -1236394515              1
1            1031              2
2            4241              2
3           17311              1
4           17312              2
...           ...            ...
11759  1408817589              2
11760  1408825059              1
11761  1408832719              1
11762  1408840919              1
11763  1408849249              1

[11764 rows x 2 columns]

In [37]:
loyalty_df = user_purchases \
    .merge(users_unique_brands, on='user_id') \
    .merge(lovely_brand_purchases_df, on='user_id')
loyalty_df

,user_id,purchases,unique_brands,lovely_brand,lovely_brand_purchases
0,1031,6,2,Store_Brand,5
1,4241,5,2,Brand_4,3
2,25971,7,2,Store_Brand,5
3,40911,27,5,Brand_4,19
4,45181,5,4,Store_Brand,2
...,...,...,...,...,...
3378,1408767189,5,1,Brand_4,5
3379,1408783189,10,2,Store_Brand,8
3380,1408783379,6,2,Brand_1,4
3381,1408798879,8,3,Store_Brand,4
3382,1408810219,9,2,Brand_2,6